h1 {
    color:blue;
    text-decoration: underline;
}

#container {
    font-size: 20px;
    font-weight: 600;
}

#spring {
    background-color:burlywood;
    padding: 10px;
    margin-bottom: 10px;
}

#summer {
    background-color: brown;
    padding: 10px;
    margin-bottom: 10px;
}

#autumn {
    background-color:chocolate;
    padding: 10px;
    margin-bottom: 10px;
}

#winter {
    background-color:lightslategray;
    padding: 10px;
    margin-bottom: 10px;
}

#rainy {
    background-color: lightsalmon;
    padding: 10px;
    margin-bottom: 10px;
}